version: '3.8'

services:
  frontend:
    build: ./client
    container_name: studyflow-frontend
    ports:
      - 3000:3000
    volumes:
      - ./client:/app
      - /app/node_modules
    restart: unless-stopped
    depends_on:
      - backend
  backend:
    build: ./server
    container_name: studyflow-backend
    ports:
      - 5000:5000
    env_file:
      - ./server/.env
    volumes:
      - ./server:/app
      - /app/node_modules
    restart: unless-stopped
